name: Tourism MLOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Show repo contents (debug)
      run: |
        pwd
        ls
        echo "Contents of src/:"
        ls src || echo "src directory NOT found"
        echo "Contents of models/:"
        ls models || echo "models directory NOT found"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pandas numpy scikit-learn joblib datasets huggingface_hub

    - name: Run training pipeline
      run: |
        python src/train_pipeline.py

    - name: Upload training artifacts
      uses: actions/upload-artifact@v4
      with:
        name: model-artifacts
        path: models/
